@model FamousPortal.Models.Meal

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Meal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mealId" class="control-label"></label>
                <input asp-for="mealId" class="form-control" />
                <span asp-validation-for="mealId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoryId" class="control-label"></label>
                <input asp-for="categoryId" class="form-control" />
                <span asp-validation-for="categoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mealName" class="control-label"></label>
                <input asp-for="mealName" class="form-control" />
                <span asp-validation-for="mealName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mealPrice" class="control-label"></label>
                <input asp-for="mealPrice" class="form-control" />
                <span asp-validation-for="mealPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mealDescription" class="control-label"></label>
                <input asp-for="mealDescription" class="form-control" />
                <span asp-validation-for="mealDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nutritionValues" class="control-label"></label>
                <input asp-for="nutritionValues" class="form-control" />
                <span asp-validation-for="nutritionValues" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="available" /> @Html.DisplayNameFor(model => model.available)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
